# Fan oscillation modes (without sleep mode)
input_select:
  air_purifier_mode:
    name: Air Purifier Mode
    options:
      - "auto"
      - "favorite"
    initial: "auto"

# Automation to correctly update state of fan oscillation modes
alias: FanInit
description: Set Input Select based on Air Purifier Mode
trigger:
  - platform: homeassistant
    event: start
  - platform: template
    value_template: "{{ state_attr('fan.YOUR_XIAOMI_FAN_ENTITY', 'air_purifier.mode') }}"
condition: []
action:
  - service: input_select.select_option
    target:
      entity_id: input_select.air_purifier_mode
    data_template:
      option: >
        {% set modes = { 0: 'Auto', 2: 'Favorite' } %} {{
        modes[state_attr('fan.YOUR_XIAOMI_FAN_ENTITY',
        'air_purifier.mode')] }}
mode: single

# Actual entity for smart air purifier
template:
  - fan:
    - unique_id: bedroom_fan
      turn_on:
      - target:
          entity_id:
          - fan.zhimi_cpa4_e409_air_purifier
        action: fan.turn_on
      turn_off:
      - target:
          entity_id:
          - fan.zhimi_cpa4_e409_air_purifier
        action: fan.turn_off
      set_percentage:
      - target:
          entity_id:
          - number.zhimi_cpa4_e409_favorite_level
        data:
          value: '{{ (percentage * 14) / 100 | round(0, ''floor'') }}'
        action: number.set_value
      set_oscillating:
      - target:
          entity_id:
          - input_select.air_purifier_mode
        action: input_select.select_next
      - target:
          entity_id:
          - fan.zhimi_cpa4_e409_air_purifier
        data_template:
          preset_mode: '{{ states(''input_select.air_purifier_mode'') }}'
        action: fan.set_preset_mode
      speed_count: 15
      preset_modes:
      - auto
      - favorite
      default_entity_id: fan.bedroom_fan
      name: Bedroom fan
      oscillating: '{{ states(''input_select.air_purifier_mode'') }}'
      percentage: "{% if is_state('input_select.air_purifier_mode', 'auto') %}\n  {{((state_attr('fan.zhimi_cpa4_e409_air_purifier', 'custom_service.moto_speed_rpm') - 400)\n  / (2050 - 400)) * 100 | round(0, 'floor') }}\n{% else %}\n  {{ (states('number.zhimi_cpa4_e409_favorite_level') | int) * (100/14) }}\n{% endif %}"
      preset_mode: '{{ states(''input_select.air_purifier_mode'') }}'
      state: '{{ is_state(''fan.zhimi_cpa4_e409_air_purifier'', ''on'') }}'
  # Shows powerState, speed, mode
  - sensor:
    - default_entity_id: sensor.bedroom_fan_combined
      name: Bedroom Fan Combined
      state: '{{ states(''fan.zhimi_cpa4_e409_air_purifier'') }}, {{ states.fan.bedroom_fan.attributes.percentage }}%, {{ states.input_select.air_purifier_mode.state }}'
